[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.member-list {
  width: 40%;
  display: inline-block;
}

.member-focus {
  display: inline-block;
  position: fixed;
  background-color: coral;
  padding: 20px;
  margin: 20px;
}

h3:hover, img:hover {
  cursor: pointer;
}

.profile-edit {
  width: 50%;
  display: inline-block;
}

.profile-view {
  min-height: 300px;
  display: inline-block;
  position: fixed;
  background-color: coral;
  padding: 20px;
  margin: 20px;
}
