<!DOCTYPE html>
<html lang="en" ng-app="gDating" ng-cloak>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="./css/main.css" rel="stylesheet" media="screen">
</head>
<body>
  <div ng-controller="Index as index">
    <h3>
      <span ng-if="!index.currentUser">
        <a href="#">gDating</a>
      </span>
      <span ng-if="index.currentUser">
        <a href="#/members">gDating</a>
      </span>
      <span ng-if="!index.currentUser">
        <a href="#/login">
          Login
        </a>
        |
        <a href="#/register">
          Register
        </a>
      </span>
      <span ng-if="index.currentUser">
        <a href="#/search">
          Search
        </a>
        |
        <a href="#/">
          My Profile
        </a>
        |
        <a href="#/logout">
          Logout
        </a>
      </span>
    </h3>
  </div>
  <div ng-view></div>
  <h3>
    Copyright gDating
  </h3>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="app/app.js"></script>

  <script src="app/Index.controller.js"></script>

  <script src="app/home/config.route.js"></script>
  <script src="app/home/Home.controller.js"></script>

  <script src="app/users/config.route.js"></script>
  <script src="app/users/Register.controller.js"></script>
  <script src="app/users/Login.controller.js"></script>
  <script src="app/users/User.factory.js"></script>
  <script src="app/users/AuthInterceptor.factory.js"></script>

  <script src="app/members/config.route.js"></script>
  <script src="app/members/Members.controller.js"></script>
  <script src="app/members/Members.factory.js"></script>

  <script src="app/search/config.route.js"></script>
  <script src="app/search/Search.controller.js"></script>
  <script src="app/search/Search.service.js"></script>
</body>
</html>
