<div class="member-list">
  <table>
    <thead>
      <tr>
        <th colspan="2">
          <h2>Sorting Options...</h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="member in members.members track by $index">
        <td>
          <img ng-click="members.memberFocus = member" src={{member.avatar}} alt="member picture" />
        </td>
        <td>
          <h3 ng-click="members.memberFocus = member">{{member.username}}</h3>
          <h5>
            Age: {{member.age}}
            <span ng-if="member.gender">
              |
              Gender: {{member.gender}}
            </span>
            <span ng-if="member.interestedIn">
              |
              Interested in: {{member.interestedIn}}
            </span>
          </h5>
          <p>{{member.description}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="member-focus">
  <table>
    <tbody>
      <tr>
        <td>
          <img src={{members.memberFocus.avatar}} alt="member picture" />
        </td>
        <td>
          <h3>{{members.memberFocus.username}}</h3>
          <h5>
            Age: {{members.memberFocus.age}}
            <span ng-if="members.memberFocus.gender">
              |
              Gender: {{members.memberFocus.gender}}
            </span>
            <span ng-if="members.memberFocus.interestedIn">
              |
              Interested in: {{members.memberFocus.interestedIn}}
            </span>
          </h5>
          <p>{{members.memberFocus.description}}</p>
        </td>
      </tr>
      <tr>
        <h5>
          <span ng-if="member.popular">Popular!</span>
          <span ng-if="member.near">Near You!</span>
          <span ng-if="member.likes">Likes You!</span>
        </h5>
      </tr>
    </tbody>
  </table>
</div>
